Strings are basically sequence of characters

In specifically python, strings are the sequence of unicode characters

# Creating Strings

In [14]:
# creating a string

# there are multiple ways to create string

# using single quote
field = 'Data Science'
print(field)

# using double quote
field = "Data Science"
print(field)

# we use both of the above methods to remove the ambiguity, for example if we have to use single quote in the string too. let me show you.
# below line of string will through an error because python will consider string upto (Ayesha) and don't know whats next

# fav_sub = 'Ayesha's favourite subject is Computer Science.'
# print(fav_sub)

# we can remove this by using double quote and vice versa
fav_sub = "Ayesha's favourite subject is Computer Science."
print(fav_sub)

str = 'someone says: "One machine can do the work of fifty ordinary men. No machine can do the work of one extraordinary man."'
print(str)

# multiline strings

# we use triple single quotes or triple double quotes to print multiline string.
tech_quote = '''Stewart Brand says: Once a new technology rolls over you, if you’re not part of the steamroller, 
                    you’re part of the road.'''
print(tech_quote)



str = """someone says: 'One machine can do the work of fifty ordinary men. No machine can do the work of one extraordinary man.'"""
print(str)

Data Science
Data Science
Ayesha's favourite subject is Computer Science.
someone says: "One machine can do the work of fifty ordinary men. No machine can do the work of one extraordinary man."
Stewart Brand says: Once a new technology rolls over you, if you’re not part of the steamroller,
                    you’re part of the road.
someone says: 'One machine can do the work of fifty ordinary men. No machine can do the work of one extraordinary man.'

# Accessing Strings

In [18]:
# we access substring of a string using indexing

# 1. positive indexing
# positive indexing starts from left to right

name = 'Ayesha Zaman'

# if i want to access 'Z' substring from above string than i will pass it's index number in square braces, 
# beacuse when we store string in memory, each character in the string get index number which starts from 0.

print(name[7])

# for e

print(name[2])

# and if we pass index number more than the string's length it will through an error, let's see
print(name[22])

Z
e

IndexError: string index out of range

In [21]:
# 2. negative indexing
# negative indexing starts from right to left, and starting index number is '-1'

name = 'Ayesha Zaman'
print(name[-1])

print(name[-2])

print(name[-9])

n
a
s

In [41]:
# 3. Slicing
# we use slicing when we want to access substring in a range, like from this character to that character

# positive slicing

name = 'Ayesha Zaman'
print(name[0 : 6])
# in the above range '0' is starting index and'6' is the ending index, and the last index is always exclusive

field = 'Data Science'
print(field[5: ])     # it's printing from 5 to last index

print(field[: 7])     # it's printing from start to 7 index

# printing whole string with the jump of two, mean every second character is going to skip
print(field[0: : 2])

# negative slicing

field = 'Data Science'
print(field[-12: -7])

print(field[-7: -1])

# printing the reverse string

print(field[-1 : : -1])

# another way
print(field[ : : -1])

# printing reverse 'Science'
print(field[-1: -8: -1])

# printing reverse string with the jump of two
field = 'Data Science'
print(field[-1: : -2])

Ayesha
Science
Data Sc
Dt cec
Data
Scienc
ecneicS ataD
ecneicS ataD
ecneicS
eniSaa

# Editing and Deleting in strings

In [47]:
# editing in strings

# i'm going to replace 'y' which is at index 1 with 'i', let's see how it works

name = 'Ayesha Zaman'
name[1] = 'i'

# it runs an error. why?
# beacuse strings are imutable which means we can not do any sort of changing in the string, 
# we cann't add or replace anything

TypeError: 'str' object does not support item assignment

In [51]:
# deleting in strings


name = 'Ayesha Zaman'
del name

# when we delete entire string, it got deleted, not from the memory but it says that string does not exist or not defined
# after deletion
print(name)

NameError: name 'name' is not defined

In [52]:
# let's see whats gonna happen if we delete particular character from string

name = 'Ayesha Zaman'
del name[3]
print(name)

# it throughs an error that deletion is not supported in string

TypeError: 'str' object doesn't support item deletion

# Operations on Strings
    Arithmatic Operations
    Relational Operations
    Logical Operations
    Loops on strings
    Memborship Operations

In [60]:
# Arithmatic Operations
# in all the arithmatic operators only '+' and '*' works for strings


# addition '+' is used to concatinate the strings

f_nam = 'Ayesha'
l_nam = 'Noreen'

print(f_nam + ' ' + l_nam)   # here we are concatinating first name then space and then last name


# multiplication '*' is used to print a string multiple times

# i want to print 'Data_Science' 5 times
f = 'Data_Science '
print(f * 5)

# adding '*' 5 times before and after a string
print('*' * 5 + 'Data Science' + '*' * 5)

Ayesha Noreen
Data_Science Data_Science Data_Science Data_Science Data_Science
*****Data Science*****

In [70]:
# Relational operations


# '==', check wether two strings are equal
print('Lahore' == 'Lahore')

print('Lahore' == 'lahore')  #pyhton is case sensitive language, so it's going to be false

print('Lahore' == 'Karachi')


# '!='
print('Lahore' != 'Karachi')

print('Lahore' != 'Lahore')

print('Karachi' != 'karaCHi')


# '>' check wether one string is greater than another
print('Abbottabad' > 'Lahore')

# the above statement is false beacuse it's not comparing on the basis of no. of characters

# '<' check if string is smaller than other
print('Lahore' > 'Karachi')


# it's actually comparing on the basis of Lexicographic order

True
False
False
True
False
True
False
True

In [81]:
# Logical operations
#     and
#     or
#     not


# it's bit tricky to understand these operators, but keep in mind that
# pyhton treats empty string as false and non_empty as true

# or
print('' or 'lahore')   # false('') or true('lahore') is equal to true('lahore')


# and
print('' and 'lahore')  # false('') and true('lahore') is equal to false('')


# or
# true('karachi') or true('lahore') is equal to true('karachi'), 
# in 'or' operator if it finds first value as true then is not going to look at the second value
print('karachi' or 'lahore')  


# and
# true('karachi') and true('lahore') is equal to true('lahore'), 
# in 'and' operator if it finds first value as true then it will check the second value and is going to print that
print('karachi' and 'lahore') 


# not
# it will negate the condition

print(not '')  #empty string denote false so it will print 'true'
print(not 'karachi')   # not true

lahore

karachi
lahore
True
False

In [84]:
# Loops on Strings
# in pyhton we can loop through the string

# example: 

for i in 'Ayesha':
    print(i)
    
    
    
# example 2: 

for i in 'name':
    print('Ayesha')

A
y
e
s
h
a
Ayesha
Ayesha
Ayesha
Ayesha

In [91]:
# Memborship operations 
#     -> in
#     -> not in

# we will check wether a substring is present in a given string

# in
field = 'Data Science'
print('D' in field)

print('c' in field)

print('Z' in field)

print('d' in field)


# not in
print('n' not in 'Data Science')

print('z' not in 'data science')

print('f' not in 'Data Science')

True
True
False
False
False
True
True

# Common Functions
    Functions that are applicable on string and on other data types like list, tuple and dictionary.
    Following are the functions:
        len
        max
        min
        sorted

In [93]:
# len() measures the length of the string

print(len('Data science'))

print(len('My name is Ayesha Zaman.'))

12
24

In [94]:
# max function returns the maximum value in the string based on their ascii vaue

print(max('Data science'))

t

In [96]:
# min function returns the minimum value in the string based on ascii value

print(min('Data Science')) # returns space beacuse it has the minimum value in the string

print(min('Science'))

S

In [102]:
# sorted
# sorted the string's characters alphabatically from lower to higher values characters, and return them in a list

print(sorted('technology'))

print(sorted('Data science'))

['c', 'e', 'g', 'h', 'l', 'n', 'o', 'o', 't', 'y']
[' ', 'D', 'a', 'a', 'c', 'c', 'e', 'e', 'i', 'n', 's', 't']

In [104]:
# we can reverse the order of sorted string by writing a keyword

# higher to lower order
print(sorted('technology', reverse = True))

['y', 't', 'o', 'o', 'n', 'l', 'h', 'g', 'e', 'c']

--> keep in mind one thing that string are immutable/ unchangeable. So, all the methods applied on the string will not change the original string instead it will create a new string in the memory with changes.

# Capitalize/ Title/ Upper/ Lower/ Swapcase
The above methods are only applicable on strings

In [2]:
# 'capitalize' convert first letter of the string into upper case

print('data science'.capitalize())

greeting = 'hello world!'
print(greeting.capitalize() )

Data science
Hello world!

In [4]:
# 'title' converts the first character of each word in the string into upper case
# like headings of the blogs are in title case

print('data science'.title())

h = 'strings in python'
print(h.title())

Data Science
Strings In Python

In [6]:
# 'upper' case converts all the characters in the string into capital letters

print('data science'.upper())

greeting = 'hello world!'
print(greeting.upper() )

DATA SCIENCE
HELLO WORLD!

In [9]:
# 'lower' case converts all the characters into small letters

print('Data SCIENCE'.lower())

st = 'STRINGS IN PYTHON'
print(h.lower())

data science
strings in python

In [12]:
# swapcase converts capital letters into small and small letters into capital letters

print('data SCIENCE'.swapcase())

print('aYeshA NorEen'.swapcase())

DATA science
AyESHa nOReEN

# count / find / index
these methods perform similar functionality

In [17]:
# count
# it counts/tells the occurance of a substring from a string

print('Data science'.count('a'))

print('Ayesha Noreen'.count('e'))

print('ayesha noreen'.count('A'))

print('ayesha noreen'.count('z'))

2
3
0
0

In [26]:
# find
# it tells the first occurance of substring from the given string

print('data science'.find('a'))

print('data science'.find('e'))

print('data science'.find('science'))


# find method return -1 if a substring does not exist in a given string

print('data science'.find('y'))

1
8
5
-1

In [29]:
# index
# it tells the position or index number of substring in a given string

print('data science'.index('c'))

print('data science'.index('ta'))


# index method gives an error, if a substring does not exist in a given stringr

print('data science'.index('h'))

6
2

ValueError: substring not found

The only diffrence between find() and index() is that, find returns -1 value if string does not exist.
On the other hand index gives error instead of returning any value

# startswith/endswith

In [32]:
# startswith, tells wether the given string starts with a particular substring or not

print('data science'.startswith('da'))

print('data science'.startswith('a'))

True
False

In [35]:
# startswith, tells wether the given string ends with a particular substring or not

print('data science'.endswith('e'))

print('data science'.endswith('ce'))
print('data science'.endswith('cea.'))

True
True
False

# format

In [37]:
# format method formates the given string

name = input("Enter your name: ")
field = input("Enter your field of interest: ")

print('Hello! my name is {}, and my filed of interest is {}.'.format(name, field))

Enter your name: ayesha
Enter your field of interest: data science
Hello! my name is ayesha, and my filed of interest is data science

# isalnum/ isalpha/ isdigit/ isidentifier

In [39]:
# 'isalnum' checks wether given string contains only alphabets or numeric values or not

print('ayesha123'.isalnum())

print('ayesha'.isalnum())

print('123'.isalnum())

print('ayesha123@'.isalnum())

True
True
True
False

In [42]:
# 'isalpha' checks the given string contains all alphabets

print('datascience'.isalpha())

print('data science'.isalpha())  #this string also contain space

print('onetwo12'.isalpha())

True
False
False

In [47]:
# 'isdigit' checks string contains all digits or not

print('123456'.isdigit())

print('1.2323'.isdigit())

print('ayesha123'.isdigit())

print('56$%'.isdigit())

True
False
False
False

In [50]:
# 'isidentifier' checks wether given string is correct identifier or not

print('1stname'.isidentifier())

print('name1st
      '.isidentifier())

print('Firstname'.isidentifier())

print('first_name'.isidentifier())

print('first-name'.isidentifier())

print('1name'.isidentifier())

print('name1'.isidentifier())

False
True
True
False
False
True

# split/join

In [53]:
# split, it separates the string from spaces by default and store it in the list

print("My name is ayesha and I'm interested in the field of data science.".split())


# if i pass any value in the split function, string is going to be separated from that function
print("My name is ayesha and I'm interested in the field of data science.".split('and'))

['My', 'name', 'is', 'ayesha', 'and', "I'm", 'interested', 'in', 'the', 'field', 'of', 'data', 'science.']
['My name is ayesha ', " I'm interested in the field of data science."]

In [56]:
# 'join' function peforms vice verca of 'split' function
# join function joins the comma separated list into string

print(' '.join(['I', 'am', 'interested', 'in', 'the', 'field', 'of', 'data', 'science.']))

I am interested in the field of data science.

# Replace

In [58]:
# 'replace' method changes substring in a string
name = 'My name is Ayesha Noreen'
print(name.replace('Noreen', 'Zaman'))

# keep in mind one thing that string are immutable/ unchangeable.
# so, all the methods applied on the string will not change the original string
# instead it will create a new string in the memory with changes.

# if we print the name again, there will be no changes
print(name)

My name is Ayesha Zaman
My name is Ayesha Noreen

# Strip

In [63]:
# 'strip' removes extra blank spaces from the start and end of the string

print('           Data Science'.strip())

print('Data Science         '.strip())

Data Science
Data Science