# 1. Python Output / Print function

In [1]:
#print() function is used to show any output on the screen
print('Hello World!')

Hello World!

In [2]:
#print a name Ayesha Noreen on the screen
print('Ayesha Noreen')

Ayesha Noreen

In [3]:
#text data / strings should always kept in inverted commas, otherwisw it will give syntax Error
print(Ayesha Noreen)

SyntaxError: invalid syntax (68925092.py, line 2)

In [6]:
#we can also print 'numbers'
print(45)
#we will get the addition of 4 and 5
print(4 + 5)

45
9

In [7]:
#printing 'float'
print(4.98)
#we will get the addition of two decimal numbers
print(4.98 + 3.42)

4.98
8.4

In [8]:
#and now we will print out boolean numbers
print(True)
print(False)

True
False

In [9]:
#python print function is way more flexible, we can print multiple values togather.
#We can do it by placing comma between multiple values, let me show you....
print('Ayesha', 7, 7.44, True, 2+3)

Ayesha 7 7.44 True 5

In [10]:
#as we can see the above output of multiple values which are separated by a space' ', it's because default value separater is space
#if we want to separate them with other any other separater like(/), we can also do that, let me show you how??

print('Ayesha', 7, 7.44, True, 2+3 , sep = '/')

Ayesha/7/7.44/True/5

In [ ]:
#multiple print statements by default ends with new line
print('Ayesha')
print('Noreen')

In [ ]:
#we can move the output on a single 
print('Ayesha' , end = '-')
print('Noreen')

# 2. Data Types

In [ ]:
#Integers/ Numbers
print(2)
#maximum limit of numbers is 1*10^308
print(1e308)
#1*10^309
print(1e309)

In [ ]:
#Decimal/Float
print(2.45)
#maximum limit of decimal
print(1.6e308)
#infinity
print(1.6e309)

In [ ]:
#Boolean
#True
print(True)
#False
print(False)

In [ ]:
#comple Numbers
print(3+5j)

In [ ]:
#Text or String
print('Hello World!')
#we can print text or string in single, double and triple quotes
print("Hello World!")
print('''Hello! Beautiful People.''')

In [ ]:
#List, it's like an array in C++
print([1, 2, 3, 'Italy', 'Turkye', 'Finland'])

In [ ]:
#Tuples
print((1, 2, 3, 4, 5, 'Belgium'))

In [ ]:
#Sets
print({1, 2, 4, 5, 3, 6})

In [ ]:
#Dictionaries, they are always in (key, value) pairs
print({'name': 'Ayesha', 'gender': 'female', 'age': 21})

# 3. Variables

In [ ]:
#we can consider variables as containers which holds values for future use
#Static Vs Dynamic Typing
#Static Vs Dynamic Binding
#Multiple Cool ways of declaring variables

In [ ]:
#(name) is a variable which is holding the value (Ayesha)
name = 'Ayesha'
#when we will print the variable (name), we will get it's value on the screen
print(name)

In [ ]:
#a & b are variables which are golding the values 4 & 7 respectively
a = 4
b = 7
print(a + b)

In [ ]:
#Dynamic Typing
#In Dynamic Typing we create variable without intializing it's data type
#beacuse pyhton is enough intelligent that it will pick up the type of variable, without specifying type of variable
a = 5
print(a)

#Static Typing 
#In Static Typing we declare the variable by specifyig it's type, that what soet of data a variable is going to hold.
#we use Static Typing in C, C++ or java, pyhton does not support it
int a = 5 #this is static typing

In [ ]:
#Dynamic Binding
#dynamic binding means we can reuse a variable with different data types in a single program, and pyhton support dynamic binding
#here is the example

a = 4    #variable (a) holding integer value
print(a)
a = 'Ayesha'
print(a)  #variable (a) holding string data type

#Static Binding
#in static binding we can't reuse a variable with different data types in a single program, C, C++ or java does not support this

In [ ]:
#Different variable declaration techniques
# a = 1
# b = 2
# c = 3

# print(a)
# print(b)
# print(c)
#here we can do above code in sindle line, assign 1 to a, 2 to b and value 3 to variable c
a, b, c = 1, 2, 3
print(a, b, c)
print(a+b+c)

In [ ]:
#assigning single value to multiple variables
# a = 5
# b = 5
# c = 5
#we can do the same on single line
a = b = c = 5
print(a)
print(b)
print(c)

# 4.keywords & Identifiers

In [ ]:
#keywords are the certain words which are reserved by compiler or intrepreter for their own purpose, in order to understand the program.
#For example: -> by print() keyword compiler understands that something is going to print out on the screen.
#             ->and some other keywords are for, if, else ect. that we commonly use. There are 32 keywords list in python.

In [ ]:
#Identifiers are the name that we(programmers) gave to something
#For example name of a variable, a class name, function name or an object name that we gave them by our own,in order to identify them
#Rules/ Conventions to write an identifier name:
#Identifier name can't be started with number

# 1name = 'Ayesha' #invalid identifier name
# print(1name)

name1 = 'Ayesha'  #valid name syntax
print(name1)

#we can't add spaces between identifiers
# name 1 = 'Ayesha'
# print(name 1)

#we can't use special characters except underscore(_)
f_name = 'Ayesha'
print(f_name)

_ = 'underscore' #we can alsouse only (_) to name a variable 
print(_)

# 5.User Input

In [ ]:
#we take input from the user trough input() function
input('Enter first name: ')
input('Enter a number: ')

In [ ]:
#As we have learned how to take input from the user, 
#So we are going to take two numbers from user and than we are going to add them
#Steps to follow:
# 1. Take two numbers input from the user and then store them into variables
f_num = input('Enter first number: ')
s_num = input('Enter second number: ')
# 2. Add those two numbers and store that result
result = f_num + s_num
# 3. Finally display the result
print(result)
# .
# .
# .
# .
# .
# .
# OPPs.... we got the wrong output, we wanted to add these numbers mathematically, but we get them as a string
# why??
# Beacuse pyhton take all the input as a string as it is universal data format
# so in order to get correct output we will convert these numbers from string data type to integer data type
# we will first learn type conversion, then w'll get back to this program
#If you are done with type conversion let's do the above program again.
#Steps to follow:
# 1. we are taking input from user, then converting it to "int" data type and then storing it into variables.
f_num = int(input('Enter first number: '))
s_num = int(input('Enter second number: '))
# 2. Add those two numbers and store that result
result = f_num + s_num
# 3. Finally display the result
print(result)

# 6. Type Conversion

In [ ]:
#Type conversion means converting values of one data type to another data type
# There are two types of conversions:
#     Implicit Conversion
#     Explicit Conversion

# Implicit Conversion is the one in which python automatically convert one data type to another
# Here is how
a, b = 3, 4.7
print(type(3), type(4.7))
print(a + b) #in output we get answer in decimal, beacuse pyhton automatically converted (3) int into (3.0) decimal
print(type(a+b))

#but sometimes python don't do that beacuse it's not possible in some cases, lrt's see how

print(4 + '4')# first 4 is of integer type, and 2nd 4 is of string type, so it's not possible to add string and integer

In [ ]:
# we do Explicit conversion by our ownself
# here is how
# str to int
a = 4
b = '4'
print(a + int(b))
#in type conversion original value of the variable does not chnage, instead of that a new value is created
# let me show you
print(type(b))

# 7. Literals

In [32]:
#'literals' are actually the 'values' that we store in the variables.
#In the below piece of code 'a' is variable, '=' is operator and '5' is literal/value
#a = 5

#there are several ways to represent literals
#Binary Literals
binary = 0b1110
#Decimal Literals
dec = 305
#Octal literals
octal = 0o203
#Hexadecimal literals
hexd = 0x45d

print(binary)
print(dec)
print(octal)
print(hexd)


#Float Literals
f = 1.56
#1.56*10^308  //maximum limit
#1.56*10^9
fl = 1.56e9  #to represent large flot
#1.566*10-4
fs = 1.566e-4 #to represent too small float literals

print(f)
print(fl)
print(fs)


#String literals
string = 'Hello World!'
dstring = "Hello World!"
#way to represent multiline string
multiline_Str = """This is multiline string, and in order to represent it, we placed text inti triple quotes"""
#character
character = "C"
unicode_str = u"\U0001F60A\U0001F609\U0001F61C\U0001F92A"

print(string)
print(dstring)
print(multiline_Str)
print(character)
print(unicode_str)

14
305
131
1117
1.56
1560000000.0
0.0001566
Hello World!
Hello World!
This is multiline string, and in order to represent it, we placed text inti triple quotes
C
ðŸ˜ŠðŸ˜‰ðŸ˜œðŸ¤ª

In [35]:
#Complex Literals
comp = 3+4j
print(comp)
#printing imaginary and real part separately
print(comp.imag, comp.real)

(3+4j)
4.0 3.0

In [37]:
#python treats boolen literals as numbers wwhile performing calculations
#it treats 'True' as 1 and 'False' as 0
a = True + 9 # 1+9
b = False + 9 # 0+9
print(a, b)

10 9